cache/
docker-compose.yml
Dockerfile

**/.git
**/.github
**/.env
**/.env.*
**/.coverage
**/.dockerignore
**/*.db
**/*.rdb
**/.ropeproject
**/.mypy_cache
**/.pytest_cache
**/.tox
**/*.pyc
**/__pycache__

/walrus-client
/hippo-server
