.coverage
.coverage.*
coverage.xml
.cache
*.cover
coverage.out
.pytest_cache/

.ipynb_checkpoints

*~
*.swp
*.sublime-workspace
.ropeproject

.env
*.env

cache/

*.rdb

/walrus-client
/icearrow-server